html,
body,
header,


#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
  background-color: #24355C;}

.nav-item{
  background-color: #000;
}
.name1{
  color:#fff;
  margin-top:15rem;
  font-size:120px;
}
.text-centre{
  text-align: center;
}
.pp1{
  font-size: 20px;
}
#contact{
  background-color: #bee5d3;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}
